.calendar-info {
	overflow:auto;
	height:80px;
	line-height:14px;
}

.prediction {
	color:#000;
	display:block;
	font-weight:bold;
}

.post-summary {
	display:none;
}

#summary {
	display:none;
	position:absolute;
	background-color:#eee;
	width:250px;
	padding:5px;
	border:1px dashed #000;
	border-radius: .3em;
	-moz-border-radius: .3em;
}