table.calendar {
	width:100%;
}
.calendar th a {
	font-size:80%;
	text-decoration:none;
}
.calendar td {
	width:13%;
	height:100px;
	vertical-align:top;
	border:1px solid black;
}
.calendar tr.weekday-names td {
	height:20px;
	border:0px solid #fff;
	text-align:center;
	font-weight:bold;
}

.calendar .date-number {
	font-weight:bold;
	color:#666;
}

.today {
	background-color:#e9ffdb;
}