table{
	width:100%;
	border-collapse:collapse;
}
.row-even{
	background-color:#eee;
}
tr:hover{
	background-color:#8daeeb;
}
th {
	text-align:left;
} 

#site-index {
	margin:0;
	padding:0;
	list-style:none;
}
#site-index li {
	float:left;
	margin:0 10px 0 0;
	display:inline;
}