/*<Style>*/
BODY { text-color:black; background-color:white; 
	 font-family:Helvetica, Arial; font-size:12px; margin:0; }
td { font-family:Helvetica,Arial; font-size:12px; }
div { font-family:Helvetica,Arial; font-size:12px; POSITION: relative; }
span { font-family:Helvetica,Arial; font-size:12px; }
h1 { font-family:serif,impact,monospace; }
.times { font-family:times new roman, times; font-size:14px; }
A { color:blue; text-decoration:none; font-size:12px; }
A:hover { color:red;}
A.under:hover { color:red; text-decoration:underline;}
A.out { color:#0412b2; text-decoration: none;}
A.out:hover { color:#000;}
.text { font-family:Helvetica, Arial; font-size:12px; 
        padding-top:15px; padding-left:5px; padding-right:5px; padding-bottom:5px;
        border-top: #666 1px solid; }
.heading { text-align:center;}
.root {background-color:white; }
.content { text-align:justify; }

.nav { background-color:#c0c0c0; color:#333; text-align:center; display:block; 
 font-family:verdana; text-decoration:none; font-size:12px; font-weight:bold;
 BORDER-RIGHT: #666 1px solid; BORDER-TOP: #aaa 1px solid; 
 BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #333 1px solid; }
.nav:hover{ background-color:#f0f0f0; color:#000; }
.navigation { background-color:#fff; }
.sub_back { background-color:#f0f0f0; }
.sub_link { display:block; font-family:Tahoma; font-size:12px; font-weight:bold; text-align:center; display:block; width:125; color:black; }
.sub_link:hover { background-color:#c0c0c0; color:black; }
.title { font-size:50px; color:red; vertical-align:middle; text-align:center; border:#fff 1px solid; display:block; background-color:#000; }
.toplogo { background: url(images/backs/top/multiple_gray.jpg);  background-repeat: repeat-x;}