/*<style>*/
.hs{background-color:#888; background: url(images/themes/fiery/hs.png);background-repeat: repeat-y;  text-align:center; font-family:verdana; font-size:12; font-weight:bold; }
.ln{Background-Color:#ccc;background: url(images/themes/fiery/ln.png);background-repeat: repeat-y; display:block; color:#000; font-family:verdana; font-size:12; WIDTH:138px;}
.ln:hover{Background-Color:#aaa; color:#FFF;}
.dots{position:relative; font-family:courier new, courier, mono; font-size:12; color:#000;}