/*<Style>*/
BODY			{BACKGROUND-COLOR: black; FONT-FAMILY: Verdana, Tahoma; color: white; font-size:11; MARGIN: 5px 2px; background-image: url(images/themes/allstuffs/pc_bg.gif); SCROLLBAR-ARROW-COLOR: #ff9001; SCROLLBAR-BASE-COLOR: #3c4653; scrollbar-track-color:#303030; scrollbar-highlight-color:#606d79;}
TD				{vertical-align:top; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 8pt; Color:white; LINE-HEIGHT: 14px}
TD A			{font-weight: bold}
A				{COLOR: #ff9001; TEXT-DECORATION: none}
A:hover			{TEXT-DECORATION: underline}
IMG				{BORDER: none}
LI				{PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LINE-HEIGHT: 14px; LIST-STYLE-IMAGE: url(../all/bullet.gif)}
h1				{font-size:13 ;text-align: left; font-weight: bold; COLOR: #ff9001; PADDING-TOP: 5px;}

.in_text,.in_textarea,.in_pass,
.in_radio,.in_checkbox,
.sel_default,
.but_reset,.but_submit,.but_default 
{color: #CCCCCC; font-family: Verdana; font-size: 8pt; border: 1px solid #FFFFFF; background-color: #333333;}
pre {margin-left: 10px;  FONT-FAMILY: Verdana, Tahoma; color: white; font-size:11;}
HR {color: #ff9001; }
.text			{LINE-HEIGHT: 14px; margin-left:10px;}

DIV.nav2box		{PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; PADDING-TOP: 1px;   TEXT-ALIGN: center}
.subs TABLE		{BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid;}
.subs TD		{BORDER-BOTTOM: black 1px solid; BORDER-RIGHT: black 1px;}
.nav2 TABLE		{BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid;}
.nav2 TD		{BORDER-BOTTOM: none; BORDER-RIGHT: black 1px solid; COLOR: white}
.nav2 A			{COLOR: white;}
.nav2 A:hover	{COLOR: #ff9001; TEXT-DECORATION: none}
DIV.nav2box		{BORDER-RIGHT: #3F4B5A 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #606D79 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; BORDER-LEFT: #434E5B 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #2E2E2E 1px solid; BACKGROUND-COLOR: #3C4653; TEXT-ALIGN: center}
DIV.nav2v		{BACKGROUND-COLOR: #a9a9a9; BORDER-BOTTOM: #a9a9a9 1px solid; BORDER-LEFT: #707070 1px solid; BORDER-RIGHT: #9a9a9a 1px solid; BORDER-TOP: #707070 1px solid; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center;}
.nav2v A		{COLOR: black}
DIV.nav1		{BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BACKGROUND-COLOR: #003a61; TEXT-ALIGN: left;}
.nav1 TD		{vertical-align: middle; COLOR: white; LINE-HEIGHT: 10pt}
.nav1 TD A		{COLOR: #8eb3e7; FONT-SIZE: 7pt;}
DIV.copywrite	{BACKGROUND-COLOR: #003a61; COLOR: #9cddf8; FONT-SIZE: 7pt; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-ALIGN: center;}
DIV.botnav		{COLOR: #00619c; FONT-SIZE: 7pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; text-align: center; PADDING-TOP: 10px}
.botnav A		{text-align: center; COLOR: #00619c;}
.botnav A:hover	{COLOR: #9cddf8;}
DIV.corpnav		{BACKGROUND-COLOR: #a9a9a9; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid;  FONT-SIZE: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center}
.corpnav A:hover{COLOR:black; text-decoration:none;}
.noborder		{color: #CCCCCC; font-family: Verdana; font-size: 8pt; border: 1px solid #FFFFFF; background-color: #333333;}